@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    color: white;
}
.Herosection{
    background-color: #2532b7;
    padding: 120px 0px 140px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.tittleimage{display: flex;
    column-gap: 17px;
    justify-content: center;
    align-items: center;
}
.tittleimage h3{
    font-size: 12px;
}
.tittleimage img{}
.flex h1{
    font-size: 72px;
    font-family: serif;
}
.flex p{
    font-size: 18px;
    margin-top: 10px;
    font-family: auto;
    max-width: 585px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    display: flex;
    column-gap: 11px;
    justify-content: center;
    margin-top: 21px;
}
.btn1 a{
    color: black;
    text-decoration: none;
    font-family: auto;
    background-color: white;
    padding: 10px 27px;
    border-radius: 33px;
    font-size: 19px;
}
.btn2 a{
    color: #ffffff;
    text-decoration: none;
    font-family: auto;
    background-color: #ffffff00;
    padding: 10px 23px;
    border-radius: 33px;
    border: 1px solid;
    font-size: 19px;
}
.middle{
    background-color: #fffcf5;
    padding: 60px 0px;
}
.page-width{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #2C4C50;
    min-height: 350px;
    border-radius: 12px;
    display: flex;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 610px; */
    margin: 0 auto;
    padding: 65px 0px;
}
.flex{}
.flex-container h2{
    font-family: Open sans-serif;
    font-size: 54px;
    font-weight: 400;
    font-style: normal;
}
.flex-container p{
    max-width: 599px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 43px;
    font-family: 'Inter';
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
}
.flexasda{
    display: flex;
    column-gap: 17px;
}
.get{}
.more{}
.get a{
    color: #313438;
    text-decoration: none;
    font-family: 'Inter';
    background-color: #fff;
    padding: 11px 37px;
    border-radius: 25px;
    font-size: smaller;
}
.more a{
    color: #fff;
    text-decoration: none;
    font-family: 'Inter';
    border-radius: 25px;
    font-size: smaller;
    border: 1px solid;
    padding: 10px 30px;
}

.padding{
    padding-bottom: 36px;
}

